.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.content {
  padding: 4rem;
  border: 10px solid #ffffff; /* Add the border property with desired width and color */
  box-sizing: border-box; /* Optional: include padding and border in element's total width and height */
}


.title {
  padding: 4rem;
  border: 10px solid #ffffff; /* Add the border property with desired width and color */
  box-sizing: border-box; /* Optional: include padding and border in element's total width and height */
}